body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    width: 30%;
    padding: 20px;
    background-color: #f0f0f0;
}

#chatbox {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

#inputArea {
    display: flex;
}

#inputArea input {
    flex: 1;
    margin-right: 10px;
}

.grid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.grid-item img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.clickable {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.no-my-character {
    filter: grayscale(100%); /* Desaturación completa para parecer más opacas */
    opacity: 0.5; /* Opacidad reducida para dar la sensación de que están "deshabilitadas" */
    cursor: not-allowed; /* Cursor de no permitido para indicar que no se pueden hacer clic */
}

/* Estilos del modal para reiniciar el juego */
/* El modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Se muestra arriba del contenido */
    z-index: 1; /* Ubicado arriba del contenido */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Hace que el contenido se pueda desplazar */
    background-color: rgba(0,0,0,0.4); /* Fondo oscuro */
  }

  /* Contenido del modal */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Ubicado en el centro */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  /* Botón para cerrar el modal */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }