<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot UI</title>
</head>
<body>
    <h1>Chatbott</h1>
    <button onclick="startGame()">Comenzar juego</button>
    <div id="chatbox"></div>
    <div id="inputArea" style="display: none;">
        <input type="text" id="userInput" placeholder="Ask about my character...">
        <button onclick="sendMessage()">Send</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
